<ion-header class="ion-no-border" >
  <ion-toolbar color="dark" >
    <ion-title>Ejercicio 2</ion-title>

    <ion-buttons class="back" >
      <ion-button routerLink="/home">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons class="next" >
      <ion-button routerLink="/ejercicio3">
        <ion-icon name="ellipsis-horizontal" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-nav-bar title="Esto es un titulo, aunque no lo parezca"></app-nav-bar>
</ion-content>
