

<ion-header class="ion-no-border" >
  <ion-toolbar color="dark" >
    <ion-title>Ejercicio 1</ion-title>

    <ion-buttons class="back" >
      <ion-button routerLink="/home">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons class="next" >
      <ion-button routerLink="/ejercicio2">
        <ion-icon name="ellipsis-horizontal" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-user-card  
    nameUser="Teo-Sav"
    imagePerfil="../../assets/shapes.svg"
    infoUser="Holaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
  >
  </app-user-card>

  <app-user-card  
    nameUser="vaS-oeT"
    imagePerfil="../../assets/shapes.svg"
    infoUser="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaloH"
  >
  </app-user-card>
</ion-content>
